
/*Geral*/
*{
    margin:0%;
    font-family: 'inter';
    color: white;

}

ul{
    display: grid;
    grid-auto-flow: column;
    columns: auto;  
}

h1{
    padding: 80px 0px 20px 0px;
}

h2{
    padding: 0px 0px 50px 0px ;
}

button{
    border: 0px;
    background-color: #0C70F2E5;
    color: white;
}

h4{
    text-align: center;
    background-color: #0C70F2;
}


/*Case 01*/
#case01{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    background-color: #303030;
    color: white;
    padding: 40px 100px 40px 0px;


}

#buttonC01{
    width: 100px;
    height: 30px;
 
    border: 0px;
    border-radius: 5px;
    padding: 0px 0px 0px 0px;
    font-size: 18px;
}

#div2C01{
    text-align: right;
}

/*Caase 02*/
#case02{
    background-color: #0C70F2E5;
    text-align: center;
    color: white;
} 

/*Case 03*/

#case03{
    background-color:#303030;
    color: white;
    padding: 60px;
    text-align: center;

}

#buttonC03{
    width: 311px;
    height: 30px;
 
    border: 0px;
    border-radius: 5px;
    padding: 0px 0px 0px 0px;
    font-size: 18px;
    margin: 50px;

}

/*Case 04*/
.divC04{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    background-color: #0C70F2;
    padding: 20px;
    text-align: center;

}

#titleC04{
    padding: 20px;
}

.input{
   width: 300px;
   height: 25px;

   border: 0px;
   border-radius: 5px;
   padding: 5px 0px 5px 10px;
   color:#FFFFFF;
   font-size: 12px;


}

table{
    display: flex;
}

